<section class="show-section">
  <p><%= @user.photo %></p>
  <div class="flex">
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>
  <div class="show-bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  <ul class="show-user-recent-posts">
    <% @posts.each do |post| %>
      <li class="show-user-post-item">
      <%= link_to post.title, "/users/#{params[:id]}/posts/#{post.id}" %>
      <p><%= post.text %></p>
      <p>Comments: <%= post.comments_counter %> • Likes: <%= post.likes_counter %></p>
    </li>
    <% end %>
  </ul>
  <div class="buttons-container">
    <%= link_to 'Create a post', "/users/#{params[:id]}/posts/new", class: "buttons" %>
    <%= link_to 'See all posts', "/users/#{params[:id]}/posts/", class: "buttons" %>
  </div>
</section>