<div class="list">
  <p class="photo"><%= @user.photo %></p>
  <div class="flex">
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>
<div class="show-recent-posts">
  <ul class="no-of-posts">
    <% @posts.each do |post| %>
      <li class="show-post-items>
        <div class="">
          <%= link_to post.title, "#{post.id}", class: "" %>
          <p><%= post.text %></p>
          <p class="">Comments: <%= post.comments_counter %> • Likes: <%= post.likes_counter %></p>
        </div>
        <div>
          <% @comments.where("post_id = #{post.id}").each do |comment| %>
            <p><%= @users.find(comment.author_id).name %>: <%= comment.text %></p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>