<div class="post-show">
  <div>
    <div class="post-info">
      <h2><%= @post.title %><span> by <%= @user.name %></span></h2>
      <p>Comments: <%= @comments.where("post_id = #{@post.id}").count %> • Likes: <%= @likes.where("post_id = #{@post.id}").count %></p>
    </div>
    <p><%= @post.text %></p>
  </div>
  <div>
    <% @comments.where("post_id = #{@post.id}").each do |comment| %>
      <p><%= @users.find(comment.author_id).name %>: <%= comment.text %></p>
    <% end %>
  </div>
  <div class="posts-container">
  <%= form_with scope: :like, url: "/users/#{params[:user_id]}/posts/#{params[:id]}/likes/", local: true do |f| %>
    <%= f.submit 'Like', class: "buttons" %>
  <% end %>
  <%= link_to 'Add a comment', "/users/#{params[:user_id]}/posts/#{params[:id]}/comments/new/" %>
</div>
</div>